<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!--扫描组件-->
    <!--
   SpringMVC扫描控制层
   Spring将其他层扫描了
   context:exclude-filter: 排除扫描 有两种方式
   type:设置排除扫描的方式
   type="annotation"  根据注解的类型进行排除   expression中设置排除的注解的全类名
   type="assignable"   根据排除的类进行排除      expression中设置排除的类的全类名

   context:include-filter  包含扫描
   注意：需要在context:component-scan标签中设置use-default-filters="false"
   默认值是use-default-filters="true"   设置的包下所有的类都需要扫描，此时可以使用排除扫描
   use-default-filters="false"   设置的包下所有的类都不需要扫描，此时可以使用排除扫描
   -->
<!--    <context:component-scan base-package="com.atyyx.spring" use-default-filters="false">-->
<!--        &lt;!&ndash;通过注解来进行排除，表示不扫描控制层的组件&ndash;&gt;-->
<!--&lt;!&ndash;        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>&ndash;&gt;-->
<!--      &lt;!&ndash;  <context:exclude-filter type="assignable" expression="com.atyyx.spring.Controller.UserController"/>&ndash;&gt;-->
<!--        &lt;!&ndash;只扫描&ndash;&gt;-->
<!--        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
<!--    </context:component-scan>-->
    <context:component-scan base-package="com.atyyx.spring"/>


</beans>